body {
background:#423f3f url("https://res.cloudinary.com/horrisellis/image/upload/v1514344444/Other/bgbody.jpg");
background-repeat:no-repeat;
background-attachment:fixed;
background-position:relative;
overflow: hidden;
background-size: 1920px;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

div {
    margin: auto;
    padding-top: 4%;
    padding-bottom:0%;
    position: relative;
    border:5px;
    border-color:white;
}

h1 {
	font-color:#00ddff;
	text-align:center;
	font-family:'Abel';font-size: 50px;
}
p {
    color:white;
    font-family:'Abel';font-size: 30px;
    display:inline;
    padding-top:50px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    font-family:'Abel';font-size: 20px;
}

li {
    float: right;
    font-family:'Abel';font-size: 20px;
    display:inline;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:'Abel';font-size: 20px;
}

li a:hover {
    background-color: #423f3f;
    font-family:'Abel';font-size: 20px;
}

img {
	float:left;
	background-repeat: no-repeat;
    opacity: 1;
    transition: opacity 0.3s;
}
em {
	font-family:'Abel';font-size: 20px;
	color:white;
}
#info {
    color:white;
    font-family:'Abel';font-size: 30px;
    display:inline;
    padding-top:50px;
}
#important {
	color:red;
	font-family:'Abel';font-size: 31px;
	display:inline;
	padding-top:50px;
}

#img.source-image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
